.character-card {
    margin:30px 0 30px 0;
}
#char1 {
    height: 400px;
    object-fit: contain;
    padding: 25px 0 10px 0;
}
#carouselIndicators {
    margin-top: 30px;
    max-width: 70%;
    height: 40%;
    overflow: hidden;
}

.carousel-item img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
    display: block;
}
.carousel-indicators li {
    background-color: #9f9f9f;
}

.carousel-indicators li.active {
    background-color: #007FFF;
}